# MOODYS Jfrog and Bit Registries
registry=https://moodysanalytics.jfrog.io/artifactory/api/npm/mdc-development-npm/
@moodys:registry=https://moodysanalytics.jfrog.io/artifactory/api/npm/mdc-development-npm/
engine-strict=true
