@import "~@moodys/mdc-frontend.theming.fonts/typography.module";
@import "~@moodys/mdc-frontend.theming.colors/index.module";
@import "src/styles/vars.module";

.shareLinkButton {
  > button {
    background: $global-blue-700;
    border-color: $global-blue-700;
    height: 29px;
    min-width: 0;
    width: 29px;

    &:hover {
      background: $global-blue-800;
      border-color: $global-blue-800;
    }

    &:active {
      background: $global-blue-600;
      border-color: $global-blue-600;
    }

    &:disabled {
      background: $global-dark-blue-100;
      border-color: $global-dark-blue-100;
    }

    svg {
      color: $global-white;
      font-size: $font-size-17;
    }
  }

  .LoadingSpinner {
    color: $global-white;
  }
}

.shareLinkPopover {
  pointer-events: none;

  > div {
    background: transparent;
    max-width: 300px;
  }

  .childContainer {
    align-items: center;
    background: rgba($global-black, 0.9);
    color: $global-white;
    display: flex;
    justify-content: center;

    p {
      font-size: $font-size-14;
      font-weight: $font-weight-regular;
      margin: 0;
      padding: 0.25rem 0.5rem;
    }
  }

  .disabledMessage {
    align-items: flex-start;
    display: flex;
    gap: 0.25rem;
    padding: 0.25rem;

    > svg {
      font-size: $font-size-17;
      margin-left: 0.25rem;
      margin-top: 0.5rem;
    }
  }
}

.SnackBarIcon {
  path {
    fill: $global-light-green-500 !important; // stylelint-disable-line declaration-no-important
  }
}

.SnackBarIconError {
  path {
    fill: $global-red-500 !important; // stylelint-disable-line declaration-no-important
  }
}

.SnackBar {
  > div {
    background: linear-gradient(
        0deg,
        rgb(255 255 255 / 0.9),
        rgb(255 255 255 / 0.9)
      ),
      $global-light-green-400 !important; // stylelint-disable-line declaration-no-important
    color: $global-light-green-800;

    path {
      fill: $global-light-green-800;
    }
  }
}

.SnackBarError {
  > div {
    background: linear-gradient(
        0deg,
        rgb(255 255 255 / 0.9),
        rgb(255 255 255 / 0.9)
      ),
      $global-red-500 !important; // stylelint-disable-line declaration-no-important
    color: $global-red-700;

    path {
      fill: $global-red-700;
    }
  }
}
