@import "~@moodys/mdc-frontend.theming.colors/index.module";
@import "~@moodys/mdc-frontend.theming.fonts/typography.module";
@import "src/styles/vars.module";

$analyst-border-radius: 4px;

.companyDetails {
  margin-bottom: 20px;

  .companyDetailsTitle {
    font-weight: $font-weight-semi-bold;
    margin-bottom: 3px;
  }

  .companyDetailsSpecs {
    margin-bottom: 5px;

    .companyDetailsBox {
      display: inline;
    }

    .companyDetailsSpecsProp {
      color: $global-gray-600;
      display: inline;
      font-size: $font-size-12;
      line-height: 18px;
    }

    .companyDetailsSpecsPropValue {
      display: inline;
      font-size: $font-size-12;
      line-height: 18px;
    }

    .companyDetailsSpecWebsite {
      text-decoration: none;
    }

    .companyDetailsSpecsSeparator {
      color: $global-gray-200;
      display: inline;
      font-size: $font-size-14;
      line-height: 18px;
      margin-left: 1px;
      margin-right: 1px;
    }
  }

  .companyDetailsDescription {
    font-size: $font-size-14;
    line-height: 22.4px;
  }
}
