@import "~@moodys/mdc-frontend.theming.fonts/typography.module";
@import "~@moodys/mdc-frontend.theming.colors/index.module";
@import "src/styles/vars.module";

$filter-chip-container-radius: 2px;
$filter-chip-radius: 4px;

.container {
  border-top: 1px solid rgba($global-black, 0.12);
  margin-top: 16px;
}

.appliedFiltersSection {
  padding: 24px 24px 0;

  .content {
    background: rgba($global-blue-700, 0.04);
    border-radius: $filter-chip-container-radius;
    padding: 16px;

    .label {
      font-weight: $font-weight-semi-bold;
    }
  }
}

.filterChips {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  > div {
    background: rgba($global-blue-700, 0.12);
    border-radius: $filter-chip-radius;
    color: $global-blue-700;
    font-size: $font-size-12;
    font-weight: $font-weight-semi-bold;
    height: 24px;

    :global(.MuiChip-deleteIcon) {
      color: $global-blue-700;
      font-size: $font-size-12;
    }
  }
}

.inputs {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 24px;

  .right {
    align-items: center;
    display: flex;
    gap: 16px;

    .primaryButton {
      background: $global-blue-700;
      border-color: $global-blue-700;
      color: $global-white;
      height: 32px;
      min-width: 0;
      min-width: 154px;
      padding: 6px 12px;

      &:hover {
        background: $global-blue-800;
        border-color: $global-blue-800;
      }

      &:active {
        background: $global-blue-600;
        border-color: $global-blue-600;
      }
    }
  }
}

.clearButton {
  color: $global-gray-600;
}
