@import "src/styles/vars.module";
@import "~@moodys/mdc-frontend.theming.colors/index.module";
@import "~@moodys/mdc-frontend.theming.fonts/typography.module";

.methodologyButton {
  background-color: $global-blue-700;

  &:hover {
    background-color: $global-dark-blue-800;
  }
}

.footerText {
  font-weight: $font-weight-semi-bold;
  margin-bottom: 0;
}
