@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
}

.container {
    background-color: #1DA1F2;
    // max-width: 500px;
    width: 100%;
    padding: 25px 25px 25px 25px;
}

.whitebox {
    background-color: white;
    border-radius: 15px;
    padding: 15px 15px;

    .tweet {
        position: relative;
        font-size: 20px;
        min-height: 130px;
        max-height: 180px;
        color: grey;
    }

    .privacy {
        color: #1DA1F2;
        font-size: 14px;
        font-weight: bold;
        border-bottom: 1px solid lightgrey;
        padding-bottom: 20px;
    }

    .bottom {
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    
        .icons {
            display: inline-flex;
            align-items: center;
            color: #1DA1F2;
            justify-content: space-between;
            min-width: 200px;
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .right .count {
            color: grey;
            border-right: 1px solid #AAB8C2;
            font-weight: 600;
            padding-right: 15px;
            margin-right: 15px;
        }
    
        button {
            border-radius: 50px;
            font-size: 16px;
            border: none;
            outline: none;
            background-color: #8ccff8;
            color: white;
            height: 35px;
            width: 75px;
            font-weight: 700;
        }
    }
}